{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}Questions Queue{% endblock %}

{% block content %}
<center>
<h1>Question Queue</h1>
</center>
<br>
<table class="table table-bordered table-striped sortable sheetTable">
    <thead>
    <tr>
        <th class="title">Username</th>
        <th class="author"  data-sortcolumn="1" data-sortkey="1-1">Question Title</th>
        <th class="views"  data-sortcolumn="1" data-sortkey="1-1">Question </th>
        <th class="size"  data-sortcolumn="1" data-sortkey="1-1">Privacy </th>
        <th class="modified"  data-sortcolumn="1" data-sortkey="1-1">Date submitted</th>
        <th class="modified">Priority </th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>




{% include "elements/login_prompt.html" with msg="Please login to Start a Discussion." %}

{% endblock %}

{% block js %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>-->
<script>
    var metrics = {% autoescape off %}{{ notes_json }}{% endautoescape %};
    var strRow = "";
    for (var i = 0; i < metrics.length; i++) {
        var title = metrics[i]["title"];
        var text = metrics[i]["text"];
        var public = metrics[i]["public"];
        var owner = metrics[i]["owner"];
        if(owner == "1")
        {
            owner = "Admin";
        }
        strRow = "<tr class='sheetRow'> <td>" + owner + "</td> <td>" + title + "</td><td>" + text + "</td><td>" + public + "</td> <td></td><td></td></tr>";
        $('.sheetTable').find('tbody').append(strRow);
    }



    (function () {
        var $table = $('table');
        $table.on('sorted', function () { console.log("Table was sorted."); });
    }());

</script>

{% endblock %}