{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}Questions Queue{% endblock %}

{% block content %}
<center>
<h1>Question Queue</h1>
</center>
<br>
<table class="table table-bordered table-striped sortable sheetTable">
    <thead>
    <tr>
        <th class="title">Username</th>
        <th class="author"  data-sortcolumn="1" data-sortkey="1-1">Question Title</th>
        <th class="views"  data-sortcolumn="1" data-sortkey="1-1">Question </th>
        <th class="size"  data-sortcolumn="1" data-sortkey="1-1">Privacy </th>
        <th class="modified"  data-sortcolumn="1" data-sortkey="1-1">Date submitted</th>
        <th class="modified">Priority </th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>


<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Note</h4>
            </div>
            <div class="modal-body">
                <p><input type="text" class="input-sm" id="txtfname"/></p>
                <p><input type="text" class="input-sm" id="txtlname"/></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

{% include "elements/login_prompt.html" with msg="Please login to Start a Discussion." %}

{% endblock %}

{% block js %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>-->
<script>
    var metrics = {% autoescape off %}{{ notes_json }}{% endautoescape %};
    var strRow = "";
    for (var i = 0; i < metrics.length; i++) {
        var title = metrics[i]["title"];
        var text = metrics[i]["text"];
        var public = metrics[i]["public"];
        var owner = metrics[i]["owner"];
        if(owner == "1")
        {
            owner = "Admin";
        }
        strRow = "<tr class='sheetRow'> <td>" + owner + "</td> <td>" + title + "</td><td>" + text + "</td><td>" + public + "</td> <td></td><td></td></tr>";
        $('.sheetTable').find('tbody').append(strRow);
    }


    $('.sheetTable tbody tr  td').on('click',function(){
        alert("Click to view detail....");
        $("#myModal").modal("show");
        $("#txtfname").val("aaa");
        //$("#txtlname").val($(this).closest('tr').children()[1].textContent);
    });

</script>

{% endblock %}